<form class="" action="index.html" method="post">
    <p>Please choose which game type you would like to play!</p>
    <div>
      <input type="radio" name="game-type" value="HvH">
      <label for="">Human vs. Human</label>

      <input type="radio" name="game-type" value="HvC">
      <label for="">Human vs. Computer</label>

      <input type="radio" name="game-type" value="CvC">
      <label for="">Computer vs. Computer</label>
    </div>
    <div class="">
      <button type="submit">Submit</button>
    </div>
</form>
