<form class="" action="game" method="post">
    <p>Please choose which game type you would like to play!</p>
    <div>
      <input type="radio" name="game_type" value="HvH">
      <label for="">Human vs. Human</label>

      <input type="radio" name="game_type" value="HvC">
      <label for="">Human vs. Computer</label>

      <input type="radio" name="game_type" value="CvC">
      <label for="">Computer vs. Computer</label>
    </div>

    <p>Who should go first?</p>
    <div>
      <input type="radio" name="first_player" value="1">
      <label for="">Me/First Computer</label>

      <input type="radio" name="first_player" value="2">
      <label for="">Friend/Second Computer</label>
    </div>
    <div class="">
      <button type="submit">Submit</button>
    </div>
</form>
