<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="jquery-3.3.1.js"></script>
    <script type="text/javascript" src="application.js"></script>
    <link rel="stylesheet" href="stylesheet.css">
    <title>Tic Tac Toe</title>
  </head>
  <body>
    <h1>Tic Tac Toe</h1>
    <%= erb(:board) %>
  </body>
</html>
