<form class="" action="locale" method="post">
  <div class="input-field">
    <select name="locale" id="locale_id">
      <option value="" disabled selected></option>
      <option value="en">English</option>
      <option value="ja">日本語</option>
    </select>
    <label for="locale_id"><%= t "select_language", get_locale%></label>
  </div>
  <div class="">
    <button type="submit" class="waves-effect waves-light btn"><%= t "confirm", get_locale %></button>
  </div>
</form>
